@font-face {
    font-family: 'FontAwesome';
    src: url('/fontawesome-webfont.eot?v=4.6.3');
    src: url('/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa-search:before {
    content:'\f002';
}
.fa:before {
    font: normal normal normal 1em FontAwesome;
}
body {
    margin:0;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
h1 {
    font-size:1.5em;
    font-weight: bold;
}
input {
    width: 100%;
    border-radius: 4px;
    line-height: 20px;
    padding: 5px 7px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #dce1e8;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input:focus {
    border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/*header头*/
.header {
    background-color: #222;
    height:52px;
    line-height:52px;
}
/*导航菜单*/
.nav-list {
    display:block;
    height:100%;
    font-size: 14px;
}
.nav-list > li {
    float: left;
    margin-right: 3px;
}
.nav-list > li:first-child {
    margin-left:20px;
}
.nav-list > li a {
    padding: 0 30px;
    display: block;
    min-width: 40px;
    color: #fff;
    text-align: center;
}
.nav-list li:hover, .nav-list .on {
    background-color: #404040;
}
.nav-list li:hover .nav-list-second {
    display: block;
    position: absolute;
}
.nav-list .search {
    float:right;
    margin-right:0;
}
.nav-list-second {
    background-color: #bce8b2;
    display:none;
    line-height: 30px;
}
.search input {
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    padding:3px 25px 2px 5px;
    background-color: #fff;
    border: 1px solid #426a9a;
    outline: none;
    color: #526b77;
    width:105px;
}
.nav-list .search:hover {
    background-color: #222;
}
.search .fa-search {
    position: relative;
    left:-23px;
    cursor:pointer;
}
/*logo*/
.logo {
    height: 100%;
    width:200px;
    float:left;
    position: relative;
}
.logo img {
    width:100%;
    vertical-align: middle;
}
/*按钮*/
.btn {
    display: inline-block;
    padding:0 20px;
    background-color: #7732ff;
    color:#fff;
}
/*表单*/
.form-left {
    width: 20%;
    display: inline-block;
    text-align: right;
    padding-right:10px;
}
/*行高*/
.lh30 {
    line-height: 30px;
}
/**/
.required {
    color:red;
    margin-right:6px;
}
/*响应式*/
.container {
    height:100%;
    padding:0 15px;
    margin:auto;
}
.main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
@media (max-width: 767px) {
    .nav-list {
        display:none;
    }
}
@media (min-width: 768px) {
    .container {
        width:750px
    }
    .main {
        width: 700px;
    }
    .nav-list > li a {
        padding: 0 14px;
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
    .main {
        width: 800px;
    }
    .search input {
        width:200px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
    .main {
        width: 900px;
    }
}